
<%= form_for(@todo_item) do |f| %>
  <% if @todo_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo_item.errors.count, "error") %> prohibited this todo_item from being saved:</h2>

      <ul>
      <% @todo_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.text_field :description, class: "form-control transparent-input", placeholder: "write your description here" %>
  </div>
  <div class="actions">
    <%= f.submit "Add To-Do", class: "btn btn-default"%>
  </div>
  
<% end %>