
<div class="container">
  <h1>to do:</h1>
  <table class="table">
    <tbody>
      <% @todo_items.each do |todo_item| %>
        <tr>
          <td class="item"><%= todo_item.description %></td>
          <td><%= link_to 'Show', todo_item %></td>
          <td><%= link_to 'Edit', edit_todo_item_path(todo_item)%></td>
          <td><%= link_to 'Destroy', todo_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Item', new_todo_item_path, class: "btn btn-defalut" %>
</div>





